@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.About .message{
   text-align: center;
}
.navbar-brand img {
    
}
.navbar-nav{
    gap: 40px;

}
.navbar {
    position: fixed;
    top: 1.5%;
    left: 2.5%;
    right: 2.5%;
    border-radius: 25px;
    width: 95%;
    opacity: 0.92;
    z-index: 1;
}
.navbar {
    color: #228B22;
}

section{
    overflow: hidden;
}
.social-media  {
    margin: 0;
    padding: 6px;
    width: 196px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.social-media i {
    
    font-size: 25px;
   
    transform: 2s;
    cursor: pointer;
   
}
.social-media i:hover {
    color: blue;
}
*body {
    margin: 0px;
    padding: 0px;
}
.Home {
    width: 100%;
    height: 600px;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
.outer{
    width: 100%;
    height: 600px;
    background: rgba(0,0,0,0.5);
   
    
}
@keyframes animate {
    0%,100%{
        background-image: url(homelogo.jpg);
    }
    25% {
        background-image: url(homelogo1.jpg);
    }
    50% {
        background-image: url(sherbimetlogo.jpg);
    }
    75% {
        background-image: url(homelogo3.jpg);
    }
}
.details {
    text-align: center;
    color: whitesmoke;
    padding: 220px 30px;

}
.details span {
    color: aquamarine;
}
.details i {
   
}
.social-media1 i {
    margin-right: 10px;
    font-size: 27px;
    cursor: pointer;
    transform: 3s;
}
.social-media1 i:hover {
    color: blue;
}
.logoo img {
    border-radius: 12px;
}
.row {
    width: 560px;
    height: 200px;
    margin-top: 20px;
    margin-left: 180px;
    margin-bottom: 60px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    text-align: center;
    z-index: 1;
    
}
.row .card {
   padding: 20px 3px 20px 3px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
    padding-left: 10px;
    
}

.vija {
    width: 100%;
    height: 10px;
    background-color: #228B22;
}
.teksti {
    text-align: center;
}
.imazhet1 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.imazhet1 img , iframe {
    border-radius: 20px;
  
}
.teksti h3 {
    margin-top: 20px;
}
.sherbimettona {
    width: 100%;
    height: 640px;
    background-image: url(sherbimetlogo.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: whitesmoke;
       
}
.sherbimetbcg {
    width: 100%;
    height: 640px;
    background: rgba(0,0,0,0.5);
}
.sherbimettona h1{
    padding-top: 90px;
}
.cardss  {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.cardss .card-img-top {
    width: 400px;
    height: 230px;
}
.cardss .card-body {
    padding: 10px 10px;
}
.navbar-nav a {
    color: #228B22;
}

.container2 {
    text-align: center;
    background-size: cover;
    background: rgb(64,71,107);

    background-size: cover;
    padding-top: 20px;
     
}
.contact .kontaktet{
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .koninier{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.koninier{
    overflow: hidden;
}    

.card {
    margin-right: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
}
.portfolioo {
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    background-color:rgb(192, 222, 192);
    background-image: url(portfoliobc.png);
    background-size: cover;
    
}
.portfolioo .card-img-top {
    width: 600px;
    height: 300px;
}
.card-body {
    color: rgb(20, 147, 105);
    font-size: 20px;
    font: bold;
}
.c2 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    
}
.c2 .card {
    margin-bottom: 30px;

}
.container4 {
    text-align: center;
    
    background-image: url(bcgkotakt1.jpg);
    background-size: cover;
    color: white;
  
    
}
.rgba3 {
    width: 100%;
    height: 330px;
    background: rgba(0,0,0,0.5);

}
.container4 h3, p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.container4 h3 {
    color: aquamarine;
}
.contact {
    overflow: hidden;
    display: flex;
    text-align: center;
    text-decoration: underline green;
    padding-top: 20px;
    background-image: url(contactbc.png);
    background-size: cover; 
    
}
.contact table {
    
    margin-left: 20px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}
.tablec {
    font-size: 40px;
    text-decoration: none;
}
.tablec td i {
    padding-right: 30px;
    padding-top: 20px;
    text-decoration: none;
}

.mesazhi {
    background-color:whitesmoke;
    width: 481px;
    position: absolute;
    left: 1px;
    padding: 5px 20px;
}
.buttoni {
    padding-top: 5px;
    padding-bottom: 10px;
    padding: 20px 20px;
}
.mapi {
    margin-top: 50px;
}
.footer {
    width: 100%;
    height: 110px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 23px;
}
.footer h3 {
    font-size: 20px;
}
.hiddenn0{
    opacity: 0;
    filter: blur(5px);
    transition: 1s ease-out ;
}
.hiddenn {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: transform 1s ease-out;
  }
  
  .hiddenn1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    transition: all 1s;
    
  }
  .show0{
    opacity: 1;
    filter: blur(0);
    
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
 
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus, 
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.card {
    overflow: hidden;
}
 .card img {
    transition: 2s ease;
}
 .card:hover img {
    transform: scale(1.2);
}

 
  @media(prefers-reducted-motion) {
      .hidden {
          transition: none;
      }
  }
@media only screen and (max-width: 600px) {
    
    .social-media{
        display: none;
    }
    .navbar-nav a{
        text-align: center;
    }
    
    .fotot img {
        width: 90px;
    }
    .About img {
        width: 190px;
        height: 120px;
    }
    .About {
        display: block;
    }
    .About1 img {
        width: 190px;
        height: 120px;
    }
    .About1 {
        display: block;
    }
    .cardss {
        display: block;
        padding-bottom: 10px;
    }
    .sherbimettona {
    height: 1350px;
    }
    .cardss .card {
        margin-bottom: 20px;
         align-items: center;
         margin-left: 45px;
    }
    .sherbimettona p {
        padding: 5px 5px;
    }
    .format {
        position: absolute;
        left: 20px;
        width: 250px;
        top: 5900px;
        margin-bottom: 3000px;
        height: 300px;
    }
    .contact {
        height: 940px;
    }
    .mesazhi {
        width: 250px;
    }
    body {
        margin: 0px;
        width: 100%;
    }
}
    



  
