@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
}
.About .message{
   text-align: center;
}
.navbar-brand img {
    
}
.navbar-nav{
    gap: 40px;

}
.navbar {
    position: fixed;
    top: 1.3%;
    left: 2.5%;
    right: 2.5%;
    border-radius: 25px;
    width: 95%;
    opacity: 0.92;
    z-index: 1;
    color: #228B22;
    transition: top 0.3s ease;
}


section{
    overflow: hidden;
}
.social-media  {
    margin: 0;
    padding: 6px;
    width: 196px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.social-media i {
    
    font-size: 25px;
   
    transform: 2s;
    cursor: pointer;
   
}
.social-media i:hover {
    color: blue;
}
*body {
    margin: 0px;
    padding: 0px;
}
.Home {
    width: 100%;
    min-height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
.outer{
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
   
    
}
@keyframes animate {
    0%,100%{
        background-image: url(./images/homelogo.jpg);
    }
    25% {
        background-image: url(./images/homelogo1.jpg);
    }
    50% {
        background-image: url(./images/sherbimetlogo.jpg);
    }
    75% {
        background-image: url(./images/sherbimetlogo.jpg);
    }
}
.details {
    text-align: center;
    color: whitesmoke;
    padding: 220px 30px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.details span {
    color: aquamarine;
}
.details i {
   
}
.social-media1 i {
    margin-right: 10px;
    font-size: 27px;
    cursor: pointer;
    transform: 3s;
}
.social-media1 i:hover {
    color: blue;
}
.logoo img {
    border-radius: 12px;
}
.row {
    width: 80%;
    margin: 30px auto;
}
.row .card {
width: 300px;
height: 200px;
}
.col-md-4.mb-3.mb-md-0.d-flex.justify-content-center:nth-child(2) {
    transition-delay: 200ms;
}
.col-md-4.mb-3.mb-md-0.d-flex.justify-content-center:nth-child(3) {
    transition-delay: 400ms;
}
#Rreth-Nesh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.RrethNContainer{
    min-height: 100vh;
}
.rrethnesh{
       display: flex;
       
       margin-top: 50px;
}
.rrethnesh .teksti {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    text-align: center;
    width: 40%;
    margin: 15px auto;
    padding: 30px;
}
.rrethnesh .rrethneshvideo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Rreth-Nesh .card {
    border: outset;
}

.vija {
    width: 100%;
    height: 10px;
    background-color: #228B22;
}

.teksti2{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
.imazhet1 {
    display: flex;
	flex-wrap: nowrap;
	justify-content: center;  
	align-items: center;
	align-content: stretch;
}
.imazhet1 img , iframe {
    border-radius: 20px;
  
}
.teksti h3 {
    margin-top: 20px;
}
.sherbimettona {
    width: 100%;
    min-height: 100vh;
    background-image: url(./images/homelogo3.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: whitesmoke;
       
}
.sherbimetbcg {
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    background: rgba(0,0,0,0.5);
}
.sherbimettona h1{
    padding-top: 30px;
}
.cardss  {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
	align-items: center;
	align-content: stretch;
    gap: 13px;
}
.cardss .card-img-top {
    width: 400px;
    height: 230px;
}
.cardss .card-body {
    padding: 10px 10px;
}
.navbar-nav a {
    color: #228B22;
}

.container2 {
    text-align: center;
    background-size: cover;
    background: rgb(64,71,107);

    background-size: cover;
    padding-top: 20px;
     
}
.contact .kontaktet{
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .koninier{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.koninier{
    overflow: hidden;
}    

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
}
.portfolioo {
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color:rgb(192, 222, 192);
    background-image: url(./images/portfoliobc.png);
    background-size: cover;
    
}
.portfolioo h1{
    margin-top: 95px;
}
.portfolioo .card-img-top {
    width: 600px;
    height: 300px;
}
.card-body {
    color: rgb(20, 147, 105);
    font-size: 20px;
    font: bold;
}
.c2 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    margin: 30px auto;
    
}
.c2 .card {
    margin-bottom: 30px;

}
.container4 {
    text-align: center;
    
    background-image: url(./images/bcgkotakt1.jpg);
    background-size: cover;
    color: white;
  
    
}
.rgba3 {
    width: 100%;
    height: 330px;
    background: rgba(0,0,0,0.5);

}
.container4 h3, p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.container4 h3 {
    color: aquamarine;
}
.contact {
    overflow: hidden;
    display: flex;
    text-align: center;
    text-decoration: underline green;
    padding-top: 20px;
    background-image: url(./images/contactbc.png);
    background-size: cover; 
    
}
.contact table {
    
    margin-left: 20px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}
.tablec {
    font-size: 40px;
    text-decoration: none;
}
.tablec td i {
    padding-right: 30px;
    padding-top: 20px;
    text-decoration: none;
}

.mesazhi {
    background-color:whitesmoke;
    width: 481px;
    position: absolute;
    left: 1px;
    padding: 5px 20px;
}
.buttoni {
    padding-top: 5px;
    padding-bottom: 10px;
    padding: 20px 20px;
}
.mapi {
    margin-top: 50px;
}
.footer {
    width: 100%;
    height: 110px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 23px;
}
.footer h3 {
    font-size: 20px;
}
.hiddenn0{
    opacity: 0;
    filter: blur(10px);
    transition: 1s ease-out ;
}
.hiddenn {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%);
    transition: 1s ease-out;
  }
  .imazhet1 {
    width: 75%;
    margin: 30px auto;
  }
.kartat{
    margin-top: 95px;
}
.hiddenn1{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(+50%);
    transition: 1s ease-out;
    
  }
  .show0{
    opacity: 1;
    filter: blur(0);
    
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus, 
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.card {
    overflow: hidden;
}
 .card img {
    transition: 2s ease;
}
 .card:hover img {
    transform: scale(1.2);
}
.social-media i {
    color: #228B22;
}
.social-media i:hover {
    color: rgb(11, 239, 114);
}
.social-media1 i {
    color: #ddeedd;
}
.social-media1 i:hover {
    color: #228B22;
}
.socialmediaa i {
    color: black;
}
.socialmediaa i:hover {
    color: #228B22;
}

  @media(prefers-reducted-motion) {
      .hidden {
          transition: none;
      }
  }
@media only screen and (max-width: 600px) {
    
    .social-media{
        display: none;
    }
    .navbar-nav a{  
        text-align: center;
    }
    
    .fotot img {
        width: 90px;
    }
    .About img {
        width: 190px;
        height: 120px;
    }
    .About {
        display: block;
    }
    .About1 img {
        width: 190px;
        height: 120px;
    }
    .About1 {
        display: block;
    }
    .cardss {
        display: block;
        padding-bottom: 10px;
    }
    .sherbimettona {
    min-height: 100vh;
    }
    .cardss .card {
        margin-bottom: 20px;
         align-items: center;
         margin-left: 45px;
    }
    .sherbimettona p {
        padding: 5px 5px;
    }
    .format {
        position: absolute;
        left: 20px;
        width: 250px;
        top: 5900px;
        margin-bottom: 3000px;
        height: 300px;
    }
    .contact {
        height: 940px;
    }
    .mesazhi {
        width: 250px;
    }
    body {
        margin: 0px;
        width: 100%;
    }
}
    



.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  .product button:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 350px;
    height: 450px;
    margin-right: 40px;
    border: 1px solid #228B22;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: thin #228B22;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
    background-color:rgba(9, 77, 3, 0.7);
  }
  
  
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  

  
